<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Account Info</h2>

<ul>
    <li><%= account.name %> - <%= account.color %></li>
</ul>

</div>

</body>
</html>
