<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>FCIs Results</h2>

<ul>
    <% rows.forEach(function(r) { %>
        <li><%= r.fci %> - <%= r.valor %> - <%= r.fecha %> - <%= r.variacion %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
